<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CartonQuoteDB" connectionString="server=36.139.89.173;user id=sa;password=slbz_888;database=2026纸箱报价系统;TrustServerCertificate=True" providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationName" value="外发加工管理系统" />
    <add key="Version" value="1.0.0" />
  </appSettings>
</configuration>
